{% extends "auctions/layout.html" %}

{%  block body  %}
 <h1> WatchList </h1>
 
 <div class="row mx-3">
       {%for Listing in Listings%}
         <div class="card mx-3" style="width: 16rem;">
               <img src="{{Listing.imageUrl}}" class="card-img-top" alt="Listing.title">
               <div class="card-body">
                   <h5 class="card-title">{{Listing.title}}</h5>
                   <p class="card-text">{{Listing.description}}</p>
                   <a href= "{% url 'listing' id=Listing.id %}" class= "btn btn-primary">back</a>
                   
               </div>
         </div>
       {% endfor %}
 </div>
{% endblock %}